.informacion {
    margin-top: 30px !important;
    display: flex !important;
}

.informacion-mascota {
    margin-right: 20px !important;
}


.boton-registrar { 
    margin-left: 10px !important;
    margin-top: 9px !important;
}