.informacion {
    margin-top: 30px !important;
    display: flex !important;
}

.informacion-mascota {
    margin-right: 20px !important;
}

.informacion-mascota-banner {
    width: 93%;
    min-height: fit-content;
}

.boton-registrar { 
    margin-left: 10px !important;
    margin-top: 9px !important;
}